{% extends "MyPage.html" %}

{% block content %}
    <form method="post">
        {{ form }}

        {% if form.errors %}
            <ul class="errorlist">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label_tag }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        <input type="submit" value="Next" class="btn btn-primary">
    </form>
{% endblock %}
